<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="code-BGK1aGjUrd">
    <meta name="keywords" content="云金杞,云子量化,量化交易,backtrader,CTA,期货,股票,期权,外汇,债券,投资,理财,保险">
    <meta name="description" content="关注个人成长和用量化思维做投资理财，包括但不限于股票、期货、期权、外汇、基金、理财、保险">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>云子量化</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/woniunote.css" type="text/css">
    <link rel="stylesheet" href="/icon/font/css/open-iconic-bootstrap.css" type="text/css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/woniunote.js"></script>
</head>

<body>
    <header class="navbar-default bg-white header">
        <div class="container py-2">
            <div class="row">
                <div class="col-4">
                    <a href="/">
                        <img src="/img/logo.webp" type="image/webp" alt="Logo" style="width: 230px;">
                    </a>
                </div>
                <div class="col scrolling-text d-none d-sm-block">
                    <h4 style="color: blue; font-size: 18px;">量化的不仅是股票、期货、期权、债券等投资交易工具，更是量化自我，量化是人生漫长的修行</h4>
                </div>
            </div>
        </div>
    </header>

    <div class="menu navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">快捷导航</a>
            <div class="navbar-nav ml-auto" id="loginmenu">
                {% if session.get('islogin') != 'true' %}
                    <a class="nav-item nav-link" href="#" onclick="showLogin()">登录</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- 登录和注册模态框 -->
    <div class="modal fade" id="mymodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin: 20px 0; max-height: 80vh; overflow-y: auto;">
                <div class="tabbable" id="tabs" style="background-color: #337AB7; height: 50px;padding: 5px 20px;">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <ul class="nav nav-tabs" role="tablist">
                        <li id="login" class="nav-item active">
                            <a href="#loginpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">登录</a>
                        </li>
                        <li id="find" class="nav-item">
                            <a href="#findpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">找回密码</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <!-- 登录窗口 -->
                    <div class="tab-pane container active" id="loginpanel">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="loginname" class="col-4">登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7" placeholder="请输入你的登录密码"/>
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4">图片验证码：</label>
                                <input type="text" id="logincode" class="form-control col-5" placeholder="请输入右侧的验证码" onkeyup="doLogin(event)"/>
                                <img src="/vcode" id="loginvcode" class="col-3" style="cursor:pointer;" onclick="this.src='/vcode?'+Math.random()"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="doLogin(null)">登录</button>
                        </div>
                    </div>

                    <!-- 找回密码 -->
                    <div class="tab-pane container" id="findpanel">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="username" class="col-4">注册邮箱：</label>
                                <input type="text" id="username" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4">新的密码：</label>
                                <input type="password" id="newpass" class="form-control col-7" placeholder="请输入新的密码"/>
                            </div>
                            <div class="form-group row">
                                <label for="findcode" class="col-4">邮箱验证码：</label>
                                <input type="text" id="findcode" class="form-control col-4" placeholder="请输入邮箱验证码"/>
                                <button type="button" class="btn btn-primary col-3">发送邮件</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span>请输入注册邮箱地址并重置密码。</span>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">找回密码</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



