{% extends 'base.html' %}   {# 将当前页面继承至base.html母版 #}
{% block content %}

        <div class="col-sm-9 col-12" style="padding: 0 10px;" id="left">
            <!-- 轮播图组件应用，除了修改图片路径外，其它内容可不修改 -->
{#            <div id="carouselExampleIndicators" class="col-12 carousel slide"#}
{#                 data-ride="carousel" style="padding: 0">#}
{#                <ol class="carousel-indicators">#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="0"#}
{#                        class="active"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#                </ol>#}
{#                <div class="carousel-inner">#}
{#                    <div class="carousel-item active">#}
{#                        <a href = "https://blog.csdn.net/qq_26948675/category_10220116.html" target="_blank"><img src="/img/my_paper.webp" type="image/webp" class="d-block w-100" alt="Banner广告一" >></a>#}
{#                    </div>#}
{#                    <div class="carousel-item">#}
{#                        <a href="https://www.zhihu.com/people/yun-jin-qi" target="_blank"><img src="/img/zhihu.webp" type="image/webp" class="d-block w-100" alt="Banner广告二"></a>#}
{#                    </div>#}
{#                    #}
{#                </div>#}
{#                <a class="carousel-control-prev" href="#carouselExampleIndicators"#}
{#                    role="button" data-slide="prev">#}
{#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Previous</span>#}
{#                </a>#}
{#                <a class="carousel-control-next" href="#carouselExampleIndicators"#}
{#                    role="button" data-slide="next">#}
{#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Next</span>#}
{#                </a>#}
{#            </div>#}

            {% for article, nickname in result %}
            <div class="col-12 row article-list">
                <div class="col-sm-3 col-3 thumb d-none d-sm-block">
                   <!-- <img src="/thumb/{{article.thumbnail}}"  width="226" height="136"/> -->
                   <img src="/thumb/{{article.type}}.png"  width="226" height="136" alt="thumb_picture">
                </div>
                <div class="col-sm-9 col-xs-12 detail">
                    <div class="title"><a href="{{ url_for('article.read', articleid=article.articleid) }}">{{article.headline}}</a></div>
                    <div class="info">作者：{{nickname}}&nbsp;&nbsp;&nbsp;
                        类别：{{article_type[article.type//100]}}&nbsp;&nbsp;&nbsp;
                        日期：{{article.createtime}}&nbsp;&nbsp;&nbsp;
                        阅读：{{article.readcount}} 次&nbsp;&nbsp;&nbsp;
                        消耗积分：{{article.credit}} 分</div>
                    <div class="intro">
                        {{article.content | striptags | truncate(80)}}
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="col-12 paginate">
            <!-- 上一页 -->
            {% if page == 1 %}
                <a href="/page/1" class="disabled">上一页</a>&nbsp;&nbsp;
            {% else %}
                <a href="/page/{{ page - 1 }}">上一页</a>&nbsp;&nbsp;
            {% endif %}

            <!-- 页码范围 -->
            {% set start_page = [1, page - 5] | max %}  {# 计算起始页码，确保不小于 1 #}
            {% set end_page = [total, page + 5] | min %}  {# 计算结束页码，确保不大于总页数 #}

            {% if start_page > 1 %}
                <a href="/page/1">1</a>&nbsp;&nbsp;
                {% if start_page > 2 %}
                    <span>...</span>&nbsp;&nbsp;  {# 显示省略号 #}
                {% endif %}
            {% endif %}

            {% for i in range(start_page, end_page + 1) %}
                {% if i == page %}
                    <!-- 当前页码，设置红色样式 -->
                    <a href="/page/{{ i }}" class="current-page" style="color: red;">{{ i }}</a>&nbsp;&nbsp;
                {% else %}
                    <a href="/page/{{ i }}">{{ i }}</a>&nbsp;&nbsp;
                {% endif %}
            {% endfor %}

            {% if end_page < total %}
                {% if end_page < total - 1 %}
                    <span>...</span>&nbsp;&nbsp;  {# 显示省略号 #}
                {% endif %}
                <a href="/page/{{ total }}">{{ total }}</a>&nbsp;&nbsp;
            {% endif %}

            <!-- 下一页 -->
            {% if page == total %}
                <a href="/page/{{ total }}" class="disabled">下一页</a>
            {% else %}
                <a href="/page/{{ page + 1 }}">下一页</a>
            {% endif %}
        </div>


        </div>

        {# 按需引入side.html，首页需要 #}
        {% include 'side.html' %}

{% endblock %}